<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PPokemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PPokemon.Properties.Settings>
            <setting name="CardName" serializeAs="String">
                <value />
            </setting>
            <setting name="CardState" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalSWF" serializeAs="String">
                <value />
            </setting>
            <setting name="CardType" serializeAs="String">
                <value />
            </setting>
        </PPokemon.Properties.Settings>
    </userSettings>
</configuration>